In [2]:
import pandas as pd
data = pd.read_csv ("MINDlarge_test/behaviors.tsv", sep = '\t', names=['Impression ID','User ID','Time','History','Impressions'])

In [3]:
import numpy as np 
import pandas as pd
from tqdm import tqdm

In [4]:
!pip3 install tqdm

Requirement already satisfied: tqdm in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (4.59.0)
WARNING: You are using pip version 21.1.1; however, version 21.1.2 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.8/bin/python3.8 -m pip install --upgrade pip' command.

In [4]:
data = data.set_index('Impression ID')
data.head()

,User ID,Time,History,Impressions
Impression ID,,,,
1,U64099,11/19/2019 11:37:45 AM,N121133 N104200 N43255 N55860 N128965 N38014 N...,N101071 N15647 N83400 N124838 N57092 N64623 N6...
2,U231077,11/19/2019 5:28:08 AM,N45124 N84730 N45128 N104312 N70022 N99111 N26...,N14657 N51253 N49521 N126571 N74286 N101071 N1...
3,U606012,11/19/2019 4:46:23 AM,N59893 N84662 N90686 N33265 N127225 N120859 N6...,N74286 N9250 N26898 N123737 N98301 N80580 N456...
4,U320649,11/21/2019 6:03:51 AM,N110863 N7889 N86335 N85056 N115743 N63372 N19...,N119559 N37657 N108085 N91287 N39136 N130190 N...
5,U357840,11/22/2019 10:36:19 AM,N98596 N85005 N15713 N67779 N47961 N55571 N666...,N60658 N43496 N65220 N9125 N63136 N83728 N3208...

In [5]:
df = data.loc[:, ["User ID","History","Impressions"]]

In [6]:
len(df.at[1,"Impressions"].split())

16

In [7]:
df

,User ID,History,Impressions
Impression ID,,,
1,U64099,N121133 N104200 N43255 N55860 N128965 N38014 N...,N101071 N15647 N83400 N124838 N57092 N64623 N6...
2,U231077,N45124 N84730 N45128 N104312 N70022 N99111 N26...,N14657 N51253 N49521 N126571 N74286 N101071 N1...
3,U606012,N59893 N84662 N90686 N33265 N127225 N120859 N6...,N74286 N9250 N26898 N123737 N98301 N80580 N456...
4,U320649,N110863 N7889 N86335 N85056 N115743 N63372 N19...,N119559 N37657 N108085 N91287 N39136 N130190 N...
5,U357840,N98596 N85005 N15713 N67779 N47961 N55571 N666...,N60658 N43496 N65220 N9125 N63136 N83728 N3208...
...,...,...,...
2370723,U584874,N72571 N14240 N26193 N82055 N23920 N41710,N63756 N40488 N1912 N119559 N56012 N91287 N6629
2370724,U584857,N57191 N54360 N1596 N61590 N104737 N71977 N773...,N13424 N81398 N45995 N53301 N80156 N65220 N913...
2370725,U160629,N105366 N51167 N66294 N71092 N92463 N38171 N11...,N96391 N56557 N76934 N130 N114959
2370726,U406290,N55903 N85484 N12015 N121551 N65119 N15471 N11...,N100633 N93461 N18760 N122566 N65522 N68985 N6...
2370727,U268599,N9740 N65259 N112324 N29153 N59111 N54723 N343...,N77696 N8159 N68290 N87227 N32131 N26374 N3132...

In [ ]:
# with open('sub.txt', 'w') as f:
#     for index, row in df.iterrows():
#         num = len(row[1].split(' '))
#         l = [i for i in range(1, num+1)]
#         a = '[{0}]'.format(','.join(map(str, l)))
#         w = f"{index} {a}"
#         f.write(w)
#         f.write('\n')

In [ ]:
# import re
# a = [1,2,3,4]

# print('[{0}]'.format(','.join(map(str, a))))

In [193]:
with open('test.txt', 'w') as f:
    for i in df.index:

        for j in str(df["History"][i]).split():

            w = str(df["User ID"][i])+" "+str(j)+" "+str(1)
            f.write(w)
            f.write('\n')
# smore input檔

In [39]:
# 啊怎麼沒print半個東西出來啦！
# 明早run上面那格

# 我今天丟了前十萬個人的資料進去，明天試試算出這些人的成績

['Hello,', 'World!', 'I', 'am', 'here.']

In [8]:
with open('test.txt', 'w') as f:
    count = 0
    for i in df.index:
        count+=1
        for j in str(df["History"][i]).split():

            w = str(df["User ID"][i])+" "+str(j)+" "+str(1)
            f.write(w)
            f.write('\n')
        if count == 100000:
            break
# 小的smore input檔

In [59]:

df2 = pd.DataFrame(columns = ["Items","vector"])
with open("smore_output/rep-dw.txt",'r') as fp:
     for line in tqdm(fp.readlines()):
            a = line.split()
            vectors = a[1:66]
            vectors[:] = [float(x) for x in vectors]
            
            df2 = df2.append({"Items":a[0], "vector":vectors},ignore_index=True)
#             print(vector)
            
# 整理smore output檔 （item 跟矩陣）
# userID應該要改叫item，因為他有新聞編號跟用戶編號

100%|██████████| 797342/797342 [6:32:00<00:00, 33.90it/s]

In [60]:

df2 = df2.set_index("Items")
# 因為做過了

In [61]:
df2.head()
len(df2.at['U64099','vector'])

64

In [62]:
with open('prediction_mine.txt', 'w') as f:
#     count = 0
    
    for i in tqdm(df.index):
        list_score = []
#         count+=1
        user = df["User ID"][i]
        vector_of_user = df2.at[user,'vector']
        a1 = np.array(vector_of_user)
        list_imp = df["Impressions"][i].split()
        for j in list_imp:
            vector_of_imp = [0.00001]*64
            try:
                vector_of_imp = df2.at[j,'vector']
            except:
                pass
            a2 = np.array(vector_of_imp)
            cos_sim = np.dot(a1,a2) / (np.linalg.norm(a1) * np.linalg.norm(a2))
            list_score.append(cos_sim)
        Ranka = sorted(range(1,len(list_score)+1),key = lambda k :list_score[k-1],reverse = True)
        adjusted = '[{0}]'.format(','.join(map(str, Ranka)))
        row = str(i) + " " + str(adjusted)
        f.write(row)
        f.write('\n')
#         if count == 100:
#             break

100%|██████████| 2370727/2370727 [1:17:10<00:00, 512.02it/s]

In [ ]:
# 不能只跑一部分，impression有的東西 history不一定有....